# IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build / Output (todos os projetos)
**/bin/
**/obj/
out/

# Caches e DBs locais
*.db
*.db-wal
*.db-shm
*.dbcache
*.opendb
*.futdcache*
*.cache
*.log

# GitHub Copilot indices (se aparecerem fora de .vs)
**/CopilotIndices/

# JetBrains Rider
.idea/
*.DotSettings.user

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml